body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-image: url('https://png.klev.club/uploads/posts/2024-04/png-klev-club-12yp-p-krasnaya-polosa-png-26.png');
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 3em;
    margin: 0;
    text-shadow: 0 2px 6px rgba(0,0,0,.35); 
}

header h2 {
    font-size: 1.5em;
    margin: 0;
    text-shadow: 0 2px 6px rgba(0,0,0,.35); 
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

section p {
    font-size: 1.1em;
    line-height: 1.6;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
}

.contact-info a {
    color: #333;
    text-decoration: none;
}

.skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background-color: #f4f4f4;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    flex: 1 0 45%;
    box-sizing: border-box;
}

.skills li:nth-child(odd) {
    margin-left: 5%;
}

.code-example {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    margin-top: 20px;
}

.code-example pre {
    font-size: 1.1em;
    line-height: 1.6;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer img {
    width: 50px;
    margin-top: 10px;

}
